<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.ehayvan.app" xmlns:android="http://schemas.android.com/apk/res/android"
    android:usesCleartextTraffic="true">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.ehayvan.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.ehayvan.app.modules.viewprofile.ui.ViewProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editpetprofile.ui.EditPetProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editprofile.ui.EditProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editpetrecordstwoempty.ui.EditPetRecordsTwoEmptyActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.appointment.ui.AppointmentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.petownerdashboard.ui.PetOwnerDashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editpetrecordsone.ui.EditPetRecordsOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.viewpetrecordstwo.ui.ViewPetRecordsTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.veterinariandashboard.ui.VeterinarianDashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.login.ui.LogInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.addpetprofile.ui.AddPetProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.vetsearchscreen.ui.VetSearchScreenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editpetrecordsthree.ui.EditPetRecordsThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.viewpetrecordsone.ui.ViewPetRecordsOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.register.ui.RegisterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.editpetrecordstwo.ui.EditPetRecordsTwoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.ehayvan.app.modules.launchscreen.ui.LaunchScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ehayvan.app.modules.dashboard.ui.DashboardActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.ehayvan.app.modules.viewpetprofile.ui.ViewPetProfileActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
